<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- 
小件快搬
迷你仓储
办公室搬迁
精品搬家
涉外搬家

企业简介
企业文化
企业荣誉
校园招聘
社会招聘
招商加盟

产品服务
服务案例
分支机构
公司概述
搬家答疑
联系我们
 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>鹏翔搬家公司 中国最大连锁搬家公司 搬家热线 4008169776</title>
<meta name="keywords" content="鹏翔搬家,搬家公司,北京搬家公司，全国连锁搬家公司"/>
<meta name="description" content="鹏翔搬家公司国际标准认证的搬家公司,提供各类家庭搬家,居民搬家,个人搬家,公司搬迁,厂房搬迁,起重吊装,空调移机,配送,保洁等服务,鹏翔搬家全国搬家热线：400-8169-776"/>
<link rel="stylesheet" type="text/css" href="static/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="static/css/default_blue.css"/>
<link rel="stylesheet" type="text/css" href="css/public.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/lrtk.css"/>
<link rel="stylesheet" type="text/css" href="css/inside.css"/>
<script type="text/javascript" src="<?php echo TPL?>static/js/jquery.min.js"></script>
<script type="text/javascript" src="<?php echo TPL?>static/js/jquery.sgallery.js"></script>
<script type="text/javascript" src="<?php echo TPL?>static/js/search_common.js"></script>
<script type="text/javascript" src="<?php echo TPL?>js/common.js"></script>
<script type="text/javascript" src="<?php echo TPL?>js/jquery1.42.min.js"></script>
<script type="text/javascript" src="<?php echo TPL?>js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
</body>
</html>