<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>框架测试</title>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
}

.header {
	height: 100px;
	background-color: #ccffff;
}

.main {
	height: 600px;
}

.left{
	width: 150px;
	background-color: #999900
}
.right{
	width:150px;
	background-color: #3465ab;
}

.footer {
	height: 50px;
	background-color: #ffffcc
}
</style>
</head>
<body>
	<div class="header">
		<iframe src="header.html"></iframe>
	</div>
	<div class="main">
		<div class="left"></div>
		<div class="center"></div>
		<div class="right"></div>
	</div>
	<div class="footer"></div>
</body>
</html>